@font-face {
    font-family: 'PT-Sans-Caption';
      src:  url('PT-Sans-Caption.ttf.woff') format('woff'),
      url('PT-Sans-Caption.ttf.svg#PT-Sans-Caption') format('svg'),
      url('PT-Sans-Caption.ttf.eot'),
      url('PT-Sans-Caption.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }
 @font-face {
  font-family: "PTSansCaptionBold";
  src: url("PTSansCaptionBold.eot");
  src: url("PTSansCaptionBold.eot?#iefix")format("embedded-opentype"),
  url("PTSansCaptionBold.woff") format("woff"),
  url("PTSansCaptionBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  }
 @font-face {
  font-family: "JostRegular";
  src: url("jost/Jost-Regular.ttf");
  font-style: normal;
  font-weight: normal;
 }
 @font-face {
  font-family: "JostBold";
  src: url("jost/Jost-Bold.ttf");
  font-style: normal;
  font-weight: bold;
 }
 @font-face {
  font-family: "JostLignt";
  src: url("jost/Jost-Light.ttf");
  font-style: normal;
  font-weight: normal;
 }