@import url("reset.css");
@import url("../fonts/fonts.css");
:root{
    --black: rgb(30, 30, 30);
    --green: #A6B96D;
}
body{
    font-family: 'PT-Sans-Caption';
}
.site{
    width: 100%;
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}
.site-header-top{
    height: 40px;
    background-color: var(--black);
}
.site-header-bottom{
    padding-top: 20px;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 40px;
}
.header-menu__item{
    list-style-type: none;
}
.header-menu__link{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.site-header-action{
    color: #fff;
    background-color: var(--green);
    border-radius: 20px;
    border: 2px solid var(--green);
    padding: 12px 24px;
    cursor: pointer;
    transition: 0.5s;
}
.site-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(230, 230, 230, 1);
    font-size: 14px;
    font-family: "PT-Sans-Caption";
    font-weight: 400;
    height: 100%;
}
.site-header-toggle{
    padding: 8px;
}
.site-header-phone, .site-header-region{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.site-header-phone__val{
    font-weight: 700;
    font-size: 20px;
}
.title{
    font-weight: bold;
    color: var(--black);
    font-size: 56px;
}
.site-main-section{
    padding-bottom: 120px;
}
.site-main-business{
    padding-top: 40px;
}
.business-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.business-item{
    width: 100%;
    max-width: 360px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.5s;
}
.business-item__link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.title{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    font-family: "PTSansCaptionBold";
}
.business__title, .products__title{
    margin-bottom: 30px;
}
.business-item__title{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 26px;
    font-weight: 700;
    color: #fff;
}
.business-item{
    background-size: cover;
}
.business-item--parthners{
    background-image: url("../img/parthners.png");
    background-size: 115%;
    background-position: center;
}
.business-item--goods{
    background-image: url("../img/goods.png");
    background-position-x: -50px;
}
.business-item--manufactura{
    background-image: url("../img/manufactura.png");
    background-size: 120%;
}
.business-item--news{
    background-image: url("../img/news.png");
    background-size: 250%;
    background-position: center;
}
.products-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
}
.products-item{
    border-radius: 20px;
    width: 100%;
    max-width: 735px;
    height: 600px;
    display: flex;
    align-items: end;
    background-size: 100% !important;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}
.products-item--qp{
    max-width: 100%;
}
.products-item-content{
    padding: 30px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prodicts-item-collection{
    display: flex;
    gap: 10px;
}
.products-item-collection__elem{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 10px 20px;
    transition: 0.5s;
}
.products-item-description{
    color: #fff;
    font-size: 16px;
}
.products-item-title{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: "PTSansCaptionBold";
}
.products-item--pvh{
    background-image: url("../img/tile.jpg");
    background-position-y: -215px;
}
.products-item--fargo{
    background-image: url("../img/fargo.jpg");
    background-size: 110% !important;
}
.products-item--qp{
    background-image: url("../img/QP.jpg");
    background-position-y: -260px;
}
.products-item--plintus{
    background-image: url("../img/pllintus.jpg");
    background-size: 122% !important;
    background-position-x: center;
}
.products-item--qplintus{
    background-image: url("../img/quartzplintus.jpg");
    background-position-y: -254px;
}
.site-main-partnership-content{
    background-color: var(--black);
    border-radius: 20px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-main-partnership-title{
    color: #fff;
    line-height: 1.3;
}
.site-main-partnership-description{
    color: #fff
}
.site-main-partnership-left{
    max-width: 403px;
}
.site-main-partnership-right{
    width: 100%;
    max-width: 937px;
    height: 481px;
}
.site-main-partnership-video{
    width: inherit;
    height: inherit;
    background-image: url("../img/video-bg.png");
    background-size: cover;
    background-position-x: -170px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.video-toggle{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.site-main-vigets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}
.vigets-item{
    width: 100%;
    max-width: 487px;
    height: 250px;
    background-color: var(--black);
    color: #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vigets-item--textures{
    background-color: var(--green);
}
.vigets-item--bot{
    background-color: rgba(206, 211, 217, 1);
    color: var(--black);
}
.vigets-item--trend{
    background-color: rgba(185, 169, 137, 1);
}
.vigets-item__title{
    font-weight: 700;
    font-size: 20px;
    font-family: "PTSansCaptionBold";
    text-transform: uppercase;
}
.vigets-item__text, .vigets-item__link{
    font-weight: 400;
    font-size: 16px;
    font-family: "PTSansCaption";
}
.vigets-item__link{
    color: #fff;
}
.team__title{
    padding-bottom: 30px;
}
.team-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}
.team-item{
    width: 100%;
    height: 280px;
    border-radius: 20px;
}
.team-item--firstcolumn{
    max-width: 360px;
}
.team-item--secondcolumn{
    max-width: 613px;
}
.team-item--thirdcolumn{
    max-width: 487px;
}
.team-item__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.team-item-title{
    font-family: "PTSansCaptionBold";
    font-weight: 700;
    font-size: 78px;
    color: var(--black);
}
.team-item-subtitle{
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}
.team-item--dflex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-item--join{
    background-color: var(--green);
}
.team-item-title--join{
    font-size: 24px;
    color: #fff;
}
.team-item-action{
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news__title{
    padding-bottom: 30px;
}
.news-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    width: 100%;
}
.news-item{
    width: 100%;
    max-width: 360px;
    height: 558px;
}
.news-item-pic{
    height: 450px;
}
.news-item__img{
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.news-item__title{
    font-family: "PTSansCaptionBold";
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    text-transform: uppercase;
    max-width: 330px;
}р
.news-item__subtitle{
    font-weight: 400;
    font-size: 16px;
    color: rgba(66, 66, 66, 1);
    margin-bottom: 4px;
}
.news-item-content{
    padding-top: 20px;
}
.news-item-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}
.news-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.news-action{
    font-family: "PTSansCaptionBold";
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 12px 53px;
    cursor: pointer;
    transition: 0.5s;
}
.site-footer{
    background-color: var(--black);
}
.site-footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;
}
.site-footer-left{
    width: 100%;
    max-width: 737px;
    padding-bottom: 60px;
}
.site-footer-menu-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.site-footer-menu__item{
    list-style-type: none;
}
.site-footer-menu__link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "PTSansCaptionBold";
    font-weight: 700;
    font-size: 16px;
    color: rgba(206, 211, 217, 1);
}
.site-footer-copy{
    color: rgba(206, 211, 217, 0.5);
    font-size: 14px;
    font-family: "PT-Sans-Caption";
    font-weight: 400;
}
.site-sooter-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.site-footer-contacts-link{
    text-decoration: none;
    font-size: 14px;
    font-family: "PT-Sans-Caption";
    font-weight: 400;
    color: rgba(230, 230, 230, 1);
    display: flex;
    gap: 8px;
}
.site-footer-contacts-link--phone{
    font-weight: 700;
}
.site-footer-socials{
    width: 100%;
    max-width: 158px;
    display: flex;
    padding-top: 60px;
}
.site-footer-socials__item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.site-footer-socials__item:not(:last-child){
    margin-right: 10px;
}
.site-footer-socials-item--yt{
    background-image: url("../img/icon/youtube.png");
}
.site-footer-socials-item--inst{
    background-image: url("../img/icon/instagram.png");
}
.site-footer-socials-item--fb{
    background-image: url("../img/icon/facebook.png");
}
.site-footer-socials-item--vk{
    background-image: url("../img/icon/vk.png");
}
@media screen {
    .video-toggle:hover{
        transform: scale(1.1);
    }
    .site-header-action:hover{
        background-color: #fff;
        color: var(--green);
    }
    .products-item-collection__elem:hover{
        background-color: #fff;
        color: var(--black);
    }
    .news-action:hover{
        background: var(--black);
        color: #fff;
    }
    .business-item:hover{
        transform: scale(1.05);
    }
}