@import url("reset.css");
@import url("../fonts/fonts.css");
:root{
    --black: rgb(30, 30, 30);
    --green: #A6B96D;
    --rotateUp: 0;
    --rotateDown: 0;
    
}
body{
    font-family: 'JostRegular';
}
.site{
    width: 100%;
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}
.site-header-top{
    height: 40px;
    background-color: var(--black);
    position: relative;
    z-index: 10;
}
.site-header-bottom{
    padding: 20px 0 !important;
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu-list, .header-menu-mobile-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 40px;
}
.site-header-mobile{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    transform: translateY(-110%);
    transition: 0.5s;
}
.site-header-mobile.on{
    transform: translateY(0);
}
.header-menu-mobile-list{
    flex-direction: column;
    align-items: center;
    max-width: unset;
}
.header-menu__item, .header-menu-mobile__item{
    list-style-type: none;
}
.header-menu__link, .header-menu-mobile__link{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.site-header-action{
    color: var(--black);
    background-color: #fff;
    border: 2px solid var(--black);
    padding: 12px 24px;
    cursor: pointer;
    transition: 0.5s;
}
.site-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(230, 230, 230, 1);
    font-size: 14px;
    font-family: "JostRegular";
    font-weight: 400;
    height: 100%;
}
.site-header-toggle{
    padding: 8px;
}
.site-header-phone, .site-header-region{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.site-header-phone__val{
    font-weight: 700;
    font-size: 20px;
}

.site-header-burger span i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
}
.site-header-burger span {
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 6px;
    background-color: #fff !important;
}
.site-header-burger span, .site-header-burger span::before, .site-header-burger span::after {
    height: 3px;
    width: 25px;
    display: block;
    background-color: black;
}
.site-header-burger span::before{
    content: "";
    display: block;
    position: relative;
    top: calc(var(--top) * (-1));
    transform: rotate(var(--rotateUp));
}
.site-header-burger span::after{
    content: "";
    display: block;
    position: relative;
    top: var(--top);
    transform: rotate(var(--rotateDown));
}
.title{
    color: var(--black);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}
.site-main{
    min-height: 1000px;
    padding-bottom: 100px;
}
.site-main-about{
    display: flex;
    align-items: start;
    padding-bottom: 255px;
}
.site-main-about-bg{
    height: 650px;
    width: 100%;
}
.site-main-about-bg-darker{
    width: 100%;
    height: 100%;
    position: absolute;
    max-height: 650px;
    background-color: rgba(0, 0, 0, 0.7);
}
.site-main-about-bg__img{
    height: inherit;
    width: 100%;
    object-fit: cover;
}
.site-main-about-content{
    position: absolute;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
}
.site-main-about-content-wrap{
    width: 100%;
    height: 200px;
}
.site-main-about-title{
    font-size: 60px;
    color: #fff;
    max-width: 606px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 16px;
}
.site-main-about-menu{
    padding-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    border-top: 1px solid #fff;
}
.site-main-about-menu-item{
    width: 100%;
    max-width: 360px;
    height: 480px;
    display: flex;
    align-items: end;
}
.site-main-about-menu-item-pic{
    height: inherit;
    width: 100%;
    max-width: inherit;
    position: absolute;
}
.site-main-about-menu-item__img{
    height: inherit;
    object-fit: cover;
    width: 100%;
}
.site-main-product{
    padding-bottom: 100px;
}
.site-product-menu-item-desc{
    position: relative;
    z-index: 500;
    padding: 0 24px 24px 24px;   
}
.site-product-menu-item-title{
    color: #fff;
    font-size: 28px;
}
.site-product-menu-item-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.site-main-about-menu-item-pic-darker{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 45%, transparent);
}
.site-main-product-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.site-main-product-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-item{
    width: 100%;
    max-width: 540px;
    height: 570px;
}
.product-item--mh570{
    max-height: 570px;
}
.product-item--mh200{
    max-height: 200px;
}
.product-item--mh250{
    max-height: 250px;
}
.product-item--mh300{
    max-height: 300px;
}
.product-item-link{
    text-decoration: none;
}
.product-item-link, .product-item-wrap, .product-item-pic, .product-item__img{
    max-width: inherit;
    max-height: inherit;
    width: 100%;
    display: block;
    height: 100%;
}
.product-item-info{
    z-index: 2;
    max-width: inherit;
    padding: 0 30px 24px 30px;
}
.product-item-wrap{
    display: flex;
    align-items: end;
}
.product-item-subtext{
    color: #fff;
    font-size: 16px;
}
.product-item-text{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.product-item-info--dflex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-item-info-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-iten-info-right__link{
    color: #fff;
    text-decoration: none;
}
.product-item-pic{
    position: absolute;
    max-width: 460px;
}
.product-item-pic--mw{
    max-width: 540px;
}
.product-item__img{
    object-fit: cover;
}
.product-item-pic-darker{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 45%, transparent);;
}
.product-iten-info-right__link{
    font-size: 16px;
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 16px;
    text-align: center;
    transition: 0.5s;
}
.product-item-info-left{
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.site-footer{
    background-color: var(--black);
}
.site-footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;
}
.site-footer-left{
    width: 100%;
    max-width: 737px;
    padding-bottom: 60px;
}
.site-footer-menu-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.site-footer-menu__item{
    list-style-type: none;
}
.site-footer-menu__link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "PTSansCaptionBold";
    font-weight: 700;
    font-size: 16px;
    color: rgba(206, 211, 217, 1);
}
.site-footer-copy{
    color: rgba(206, 211, 217, 0.5);
    font-size: 14px;
    font-family: "JostRegular";
    font-weight: 400;
}
.site-footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.site-footer-contacts-link{
    text-decoration: none;
    font-size: 14px;
    font-family: "JostRegular";
    font-weight: 400;
    color: rgba(230, 230, 230, 1);
    display: flex;
    gap: 8px;
}
.site-footer-contacts-link--phone{
    font-weight: 700;
}
.site-footer-socials{
    width: 100%;
    max-width: 158px;
    display: flex;
    padding-top: 60px;
}
.site-footer-socials__item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.site-footer-contacts-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-footer-socials__item:not(:last-child){
    margin-right: 10px;
}
.site-footer-socials-item--yt{
    background-image: url("../img/icon/youtube.png");
}
.site-footer-socials-item--inst{
    background-image: url("../img/icon/instagram.png");
}
.site-footer-socials-item--fb{
    background-image: url("../img/icon/facebook.png");
}
.site-footer-socials-item--vk{
    background-image: url("../img/icon/vk.png");
}
@media screen {
    .site-header-action:hover{
        background-color: var(--black);
        color: #fff;
    }
    .product-iten-info-right__link:hover{
        color: var(--black);
        background-color: #fff;
    }
}
@media(min-width: 746px){
    .site-header-burger{
        display: none;
    }
}
@media(max-width: 1530px){
    .site-main, .site-header-content, .site-header-bottom{
        padding: 0 10px;
    }
    .site-footer-content{
        padding: 60px 10px;
    }
}
@media(max-width: 1035px){
    .site-footer-contacts{
        padding-bottom: 20px;
    }
}
@media(max-width: 1024px){
    .header-menu__link{
        font-size: 14px;
    }
}
@media(max-width: 980px){
    .site-header-action {
        padding: 12px 13px;
    }
}
@media(max-width: 930px){
    .site-header-logo{
        max-width: 130px;
    }
}
@media(max-width: 880px){
    .header-menu-list{
         gap: 20px;
    }
}
@media(max-width: 800px){
    .site-header-logo {
        max-width: 100px;
    }
    .site-header-action {
        padding: 12px 5px;
    }
}
@media(max-width: 745px){
    .site-header-menu{
        display: none;
    }
}
@media(max-width: 700px){
    .title{
        font-size: 40px;
    }
}
@media(max-width: 600px){
    .site-header-phone__val{
        font-size: 15px;
    }
    .site-header-content {
        font-size: 13px;
    }
}
@media(max-width: 530px){
    .site-header-top{
        display: none;
    }
    .site-header-region--mobile, .site-header-phone--mobile, .site-header-address--mobile{
        padding-left: 10px;
    }
}
@media(min-width: 530px){
    .site-header-region--mobile, .site-header-phone--mobile, .site-header-address--mobile{
        display: none;
    }
}
@media(max-width: 500px){
    .site-footer-menu-list{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .site-footer-left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-footer-right{
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .site-footer-contacts-item{
        justify-content: center;
    }
    .site-footer-content {
        padding: 15px 10px;
    }
    .site-footer-socials{
        padding-top: 20px;
    }
    .site-footer-left{
        padding-bottom: 35px;
    }
}
@media(max-width: 375px){
    .title {
        font-size: 25px;
    }
}